* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #0a0a0a;
    color: #9c9bee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


#matrix-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 1, 18, 0.634) 1px, transparent 1px),
                linear-gradient(90deg, rgba(90, 106, 195, 0.05) 1px, transparent 1px);
    background-size: 30px 30px;
    z-index: -1;
}

#quiz-box {
    background: rgba(0, 0, 14, 0.9);
    border: 2px solid #07123f;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 20px rgba(67, 76, 195, 0.3);
    text-align: center;
}

.hidden {
    display: none !important;
}


.glitch {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px #ff000033;
    letter-spacing: 2px;
}


.main-btn, .option-btn {
    background: transparent;
    border: 1px solid #171e5e;
    color: #e61919;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
    width: 100%;
    text-transform: uppercase;
}

.main-btn:hover, .option-btn:hover {
    background: #202d5f;
    color: #000;
    box-shadow: 0 0 15px #030d2e;
}


.status-bar {
    margin-bottom: 20px;
    font-size: 0.8rem;
    text-align: left;
}

.progress-container {
    width: 100%;
    height: 10px;
    background: #02061f;
    margin-top: 5px;
    border: 1px solid #ff0000;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background: #06092d;
    transition: 0.4s;
}


h2 {
    margin-bottom: 20px;
    min-height: 60px;
    font-size: 1.1rem;
}